# .NET Core
bin/
obj/
.vs/
appsettings.Development.json

# Angular
node_modules/
dist/
.angular/

# General OS files
.DS_Store
Thumbs.db

# Database
*.db
*.db-shm
*.db-wal

# Secrets
appsettings.Production.json
.env
.env.*